<ion-view view-title="{{vm.device.name}}">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <button type="input" class="button button-positive" ng-click="vm.connectToDevice()">{{vm.connected ? 'Disconnect' : 'Connect'}}</button>
    <button type="input" class="button button-positive" ng-click="vm.discoverDevice()" ng-show="vm.connected">Discover</button>
    <button type="input" class="button button-positive" ng-click="vm.selectFirmwareFile()">File</button>
    <button type="input" class="button button-positive" ng-click="vm.uploadFirmware()" ng-show="vm.connected">Update</button>

  </ion-content>
</ion-view>
