<ion-view view-title="{{vm.device.name}}">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <div>
      <button type="input" class="button button-block button-positive" ng-click="vm.selectFirmwareFile()">Select Firmware</button>
      <div class="card">
        <div class="item item-text-wrap text-center">
          {{vm.firmwareFileBuf ? 'Firmware file size: ' + vm.firmwareFileBuf.length : 'Choose firmware file'}}
        </div>
      </div>
    </div>

    <div>
      <button type="input" class="button button-block button-positive" ng-click="vm.uploadFirmware()" ng-disabled="!vm.firmwareFileBuf">Update</button>
      <div class="card">
        <div class="item item-text-wrap text-center">
          {{vm.stateMessage}}
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
