<ion-view view-title="OTA">

  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="vm.startStopScanning()">{{vm.isScanning ? 'STOP' : 'START'}}</button>
  </ion-nav-buttons>

  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>
      <ion-item
          ng-repeat="device in vm.devices track by device.address"
          class="item-remove-animate item-icon-right"
          type="item-text-wrap"
          ui-sref="main.otaDevice({ device: device })">
        <h2>{{device.name}}</h2>
        <p>{{device.address}}</p>
        <p>{{device.rssi}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
